__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
.pytest_cache/
coverage.xml

.env
.env.*
!.env.example
.venv/
venv/

.vscode/
.idea/
.DS_Store

*.log
*.bak
*.tmp
*.out

persistent-data/*.sqlite3
ollama-models/
podman/bifrost/data/*
podman/grafana/data/*
